
body{
background-color: #282c34;
margin: 0;
padding: 0;
}


.size{
  float: left;
  padding-right: 130px;
}

.titulo {
  /* border: solid;
    border-color: blue; */
    font-size: 37px;
    color: white;
    padding-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  /* .gridContact{
flex:1;
} */

.subtitulos{
  margin-top: 70px;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font: bold;
  font-weight: bolder;
position:relative;
  font-size: 18px;
  padding-bottom: 20px;
}

.prueba{
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color:  rgb(182,142,113);
  color: aliceblue;
display:inline-block;
}

.info{
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
}
  .contact1{
    width: 305px;
    height: 400px;
  }  
  .contact2{
    width: 305px;
    height: 450px;
  }  

  .contact3{
    width: 305px;
    height: 450px;
  }  
  .contact4{
    padding-top: 50px;
    width: 305px;
    height: 400px;
  }  
  .contact5{
    padding-top: 50px;
    width: 305px;
    height: 400px;
  }  

  .contact6{
    width: 305px;
    height: 400px;
  }  
.name{
  border: #282c34;
  width: 280px;
  height: 40px;
  font-size: 20px;
  border-radius: 6px;
}

.infoContacto{
  color: white;
  padding-bottom: 30px;
}