.navbar2{
    background-color: #282c34;
    position: fixed;
height: 75px;
width: 100%;
z-index: 1;
padding: 50px 0;
}



ul{
    list-style: none;
    padding: 100px 0;
}

ul li{
    display: inline-block;
   
}

ul li a{
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}

 ul li a,
 ul li a:after,
 ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
    color: aliceblue;
  }
.navText{
margin-left: 30%;
margin-top: 50px;
}

.blanco{
color: rgb(34, 187, 187);
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 23px;
margin-right: 20px;
}


.reposado{
    color: rgb(122, 66, 23);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 23px;
}

.añejo{
    color: rgb(184, 122, 8);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 23px;
}

.extraAñejo{
    color: rgb(198, 56, 13);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 23px;
}